div.grid {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #eb75db;
    color: #fff;
    border: 6px solid #be09a6;
    border-radius: 15px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
